<form class="search-form" [formGroup]="searchForm" (ngSubmit)="Search()">
  <mat-form-field class="example-full-width" class="search-field">
    <input matInput formControlName="searchContent">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tìm theo </mat-label>
    <mat-select [(ngModel)]="selectedValue" formControlName="searchAttribute">
      <mat-option *ngFor="let attribute of accountAttribute" [value]="attribute.value">
        {{attribute.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">Tìm kiếm</button>
</form>

<nz-table [nzData]="accountList" nzTableLayout="fixed" [nzLoading]="loading" [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex" [nzTotal]="total" (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th>Mã số</th>
      <th>Tên</th>
      <th [nzFilters]="filterRole" [nzFilterFn]="true">Vai trò</th>
      <th [nzFilters]="filterActiveStatus" [nzFilterFn]="true">Trạng thái</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accountList">
      <td>{{ account.internalCode }}</td>
      <td>{{ account.displayName }}</td>
      <td *ngIf="account.role.id === 1; else staff">Quản lí</td>
      <ng-template #staff><td *ngIf="account.role.id === 2; else patient">Nhân viên y tế</td></ng-template>
      <ng-template #patient><td>Bệnh nhân</td></ng-template>
      <td *ngIf="account.active; else inActive">Hoạt động</td>
      <ng-template #inActive><td>Dừng hoạt động</td></ng-template>
      <td><button nz-button nzType="default" nzSize="large" nzShape="round"
          [routerLink]="['/account/account-detail', account.id]">Chi tiết</button></td>
    </tr>
  </tbody>
</nz-table>