    .search-field{
        width: 60%;
        height: 40px;
        margin-right: 1%;
        background-color: #e6e6e63e;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .search-select{
        width: 30%;
        height: 40px;
        margin-right: 1%;
    }

    .filter-select{
        width: 30%;
        margin-right: 10px;
    }

    ::placeholder {
        color: #8f9b99;
        font-weight: 500;
      }