<nz-table #sortTable [nzData]="accountList" nzTableLayout="fixed" [nzLoading]="loading" [nzPageSize]="pageSize" 
[nzPageIndex]="pageIndex" [nzTotal]="total" (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false">
  
    <thead>
      <tr>
        <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of accountList">
        <td>{{ data.displayName }}</td>
        <td>{{ data.email }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>{{ data.description }}</td>
      </tr>
    </tbody>
  </nz-table>