<form class="search-form" [formGroup]="searchForm"  (ngSubmit)="Search()">
  <mat-form-field class="example-full-width" class="search-field">
    <input matInput formControlName="searchContent">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Tìm theo </mat-label>
    <mat-select [(ngModel)]="selectedValue" formControlName="searchAttribute">
      <mat-option *ngFor="let attribute of accountAttribute" [value]="attribute.value">
        {{attribute.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary">Tìm kiếm</button>
</form>
<nz-table #sortTable [nzData]="accountList" nzTableLayout="fixed" [nzLoading]="loading" [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex" [nzTotal]="total" (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false">
  <thead>
    <tr>
      <th *ngFor="let column of listOfColumn">{{
        column.title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of accountList">
      <td>{{ data.internalCode }}</td>
      <td>{{ data.displayName }}</td>

      <td>{{ data.roleId }}</td>
      <td></td>
      <td><button nz-button nzType="default" nzSize="large" nzShape="round" [routerLink]="['/edit-account', data.id]">Cbi tiết</button></td>
    </tr>
  </tbody>
</nz-table>