<div class="inner-content">
  <div class="search-filter">
    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="searchIconButton">
      <input class="input" placeholder="Nhập tên dược phẩm" nz-input [(ngModel)]="searchMedicineValue"/>
  </nz-input-group>
  <ng-template #searchIconButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch class="iconButton" (click)="searchEliminatedMedicineName()">
          <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
  </ng-template>
    <br><br>

    <div *ngIf="medicineUnitList && medicineClassificationList && medicineSubGroupList" class="select-wrap">
      <span style="font-weight: 500; margin-right: 10px;">Bộ lọc tím kiếm:</span>
      <nz-select class="select-w" nzPlaceHolder="Đơn vị" [(ngModel)]="filterUnitValue" nzAllowClear
        (ngModelChange)="onSearchUnit()">
        <nz-option *ngFor="let option of medicineUnitList" [nzLabel]="option.name" [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <nz-select class="select-w" nzPlaceHolder="Phân loại" nzAllowClear [(ngModel)]="filterClassificationValue"
        (ngModelChange)="onSearchClassification($event)">
        <nz-option *ngFor="let option of medicineClassificationList" [nzLabel]="option.name" [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <nz-select class="select-w" nzPlaceHolder="Nhóm" nzAllowClear [(ngModel)]="filterSubgroupValue"
        (ngModelChange)="onSearchSubGroup($event)">
        <nz-option *ngFor="let option of medicineSubGroupList" [nzLabel]="option.name" [nzValue]="option.id">
        </nz-option>
      </nz-select>
      <br><br>
    </div>
  </div>
  <nz-table [nzScroll]="{ x: '1000px' }" [nzData]="eliminatedMedicineList" nzTableLayout="fixed" [nzLoading]="loading"
    [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total" [nzFrontPagination]="false"
    (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <th nzWidth="150px" nzColumnKey="medicine.name" [nzSortFn]="true">Tên thuốc</th>
        <th nzWidth="100px" nzColumnKey="quantity" [nzSortFn]="true">Số lượng</th>
        <th nzWidth="100px" nzColumnKey="medicine.medicineUnit.name" [nzSortFn]="true">Đơn vị</th>
        <th nzWidth="100px" nzColumnKey="medicine.medicineClassification.name" [nzSortFn]="true">Loại thuốc</th>
        <th nzWidth="100px" nzColumnKey="medicine.medicineSubgroup.name" [nzSortFn]="true">Nhóm</th>
        <th nzWidth="140px" nzColumnKey="createDate" [nzSortFn]="true">Ngày hủy</th>
        <th nzWidth="140px" nzColumnKey="medicineInInventoryDetail.createdDate" [nzSortFn]="true">Thuộc lô</th>
        <th nzWidth="70px"></th>
        <th nzWidth="70px"></th>
        <!-- <th>Thuộc lô</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let eliminatedMedicine of eliminatedMedicineList">
        <td>{{ eliminatedMedicine.name }}</td>
        <td>{{ eliminatedMedicine.quantity }}</td>
        <td>{{ eliminatedMedicine.medicineUnit.name }}</td>
        <td>{{ eliminatedMedicine.medicineClassification.name }}</td>
        <td>{{ eliminatedMedicine.medicineSubgroup.name }}</td>
        <td>{{ generalService.getDate(eliminatedMedicine.createDate) }}</td>
        <td>{{ generalService.getDate(eliminatedMedicine.medicineInInventoryDetail.createdDate) }}</td>
        <td>
          <input type="hidden" nz-input #medicineId>
          <a style="color: #1890ff;"
            [routerLink]="['/batch-medicine-management/eliminated-medicine-details', eliminatedMedicine.id]">Detail</a>
        </td>
        <td> <a nz-popconfirm nzPopconfirmTitle="Chắc chắn xóa chứ?" style="color: #1890ff"
            (nzOnConfirm)="deletedEliminatedMedicine(eliminatedMedicine.id)">Delete</a></td>
      </tr>
    </tbody>
  </nz-table>
</div>