
$white:                     #fff !default;
$black:                     #000 !default;
$red:                       #de4436 !default;
$orange:                    #fa8c16 !default;
$gold:                      #ffc107 !default;
$green:                     #52c41a !default;
$blue:                      #3f87f5 !default; 
$cyan:                      #00c9a7 !default;
$purple:                    #886cff  !default; 
$magenta:                   #eb2f96 !default;
$volcano:                   #fa541c !default;
$lime:                      #a0d911 !default;
$geekblue:                  #2f54eb !default;

$gray-light:                rgba(191,191,191,255)  !default; 

//Font

$text-muted:                rgba($gray-light, 0.7) !default;