
//Config layout
// $header-height:            70px;
// $side-nav-width:           280px;
// $side-nav-width-laptop:    230px;
// $side-nav-folded:          80px;
// $layout-content-gutter:    25px;
// $layout-content-gutter-sm: 15px;
// $footer-height:            65px;
// $content-height:           $header-height + $footer-height + $layout-content-gutter + $layout-content-gutter + 2px;

$border-color:           #edf2f9 !default;

$white:                     #fff !default;
$black:                     #000 !default;
$red:                       #de4436 !default;
$orange:                    #fa8c16 !default;
$gold:                      #ffc107 !default;
$green:                     #52c41a !default;
$blue:                      #3f87f5 !default; 
$cyan:                      #00c9a7 !default;
$purple:                    #886cff  !default; 
$magenta:                   #eb2f96 !default;
$volcano:                   #fa541c !default;
$lime:                      #a0d911 !default;
$geekblue:                  #2f54eb !default;
$gray:                      gray    !default;

$gray-light:                #7d918e !default; 

$teal-green:                #1397B6 !default;

//Font
$left-logo-color:           rgb(53, 190, 174) !default;
$right-logo-color:          rgb(56, 196, 228) !default;
$left-logo-color-light:     rgb(78, 198, 184) !default;

$focus-logo-color:     rgb(36, 167, 152) !default;

$text-muted:                rgba($gray-light, 0.7) !default;