<div class="inner-content">
  <form nz-form nzLayout="horizontal" *ngIf="accountForm" [formGroup]="accountForm"
    (ngSubmit)="insertAccount(accountForm.value)" class="form">
    <!-- Mã số -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="internalCode" [nzSpan]="7">
        <span class="font-size-18">Mã số</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="internalCodeTpl">
        <input formControlName="internalCode" type="text" nz-input [nzSize]="'large'" />
        <ng-template #internalCodeTpl let-control>
          <ng-container *ngIf="f.internalCode.hasError('required')">
            {{ generalService.showRequiredError("Mã số") }}
          </ng-container>
          <ng-container *ngIf="f.internalCode.hasError('pattern')">
            Mã số không được chứa kí tự đặc biệt
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Tên -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="displayName" [nzSpan]="7">
        <span class="font-size-18">Tên</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="displayNameTpl">
        <input id="displayName" formControlName="displayName" type="text" nz-input [nzSize]="'large'" />
        <ng-template #displayNameTpl let-control>
          <ng-container *ngIf="f.displayName.hasError('required')">
            {{ generalService.showRequiredError("Tên") }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Email -->
    <nz-form-item>
      <nz-form-label nzFor="email" [nzSpan]="7">
        <span class="font-size-18">Email</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="emailTpl">
        <input formControlName="email" type="text" nz-input [nzSize]="'large'" />
        <ng-template #emailTpl let-control>
          <ng-container *ngIf="f.email.hasError('required')">
            {{ generalService.showRequiredError("Email") }}
          </ng-container>
          <ng-container *ngIf="f.email.hasError('email')">
            {{ showEmailPatternError() }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Username -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="username" [nzSpan]="7">
        <span class="font-size-18">Tên đăng nhập</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="usernameTpl">
        <input id="username" formControlName="username" type="text" nz-input [nzSize]="'large'" />
        <ng-template #usernameTpl let-control>
          <ng-container *ngIf="f.username.hasError('required')">
            {{ generalService.showRequiredError("Tên đăng nhập") }}

          </ng-container>
          <ng-container *ngIf="f.username.hasError('pattern')">
            <span class="error-text">Tên đăng nhập không được chứa kí tự đặc biệt</span>
          </ng-container>
          <ng-container *ngIf="f.username.hasError('minlength') || f.username.hasError('maxlength')">
            {{ generalService.showMinMaxLengthError("Tên đăng nhập", 3, 50) }}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Password -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="password" [nzSpan]="7">
        <span class="font-size-18">Mật khẩu</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="passwordTpl">
        <input id="password" formControlName="password" type="text" nz-input [nzSize]="'large'" />
        <ng-template #passwordTpl let-control>
          <ng-container *ngIf="f.password.hasError('required')">
            {{ generalService.showRequiredError("Mật khẩu") }}
          </ng-container>
          <ng-container *ngIf="f.password.hasError('pattern')">
            <span class="error-text">Mật khẩu không được chứa kí tự đặc biệt</span>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!-- Role -->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="roleId" [nzSpan]="7">
        <span class="font-size-18">Vai trò</span>
      </nz-form-label>
      <nz-form-control>
        <nz-select id="unitId" nzShowSearch nzAllowClear formControlName="roleId" [nzSize]="'large'"
          style="display: flex; align-items: center; font-size: 18px;">
          <nz-option *ngFor="let role of roles" [(ngModel)]="role.id" [nzLabel]="role.roleName" [nzValue]="role.id"
            nzCustomContent>
            <span style="font-size: 18px;">{{ role.roleName }}</span>
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!-- Button -->
    <nz-form-item>
      <nz-form-control>
        <button class="font-size-18" type="submit" nz-button nzType="primary"
          style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
          Tạo tài khoản
        </button>
        <button class="font-size-18" nz-button [routerLink]="'/account/profile'"
          style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
          Hủy
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>

<!-- <form class="example-form" [formGroup]="accountForm" (ngSubmit)="insertAccount(accountForm.value)">

  Username
  <mat-form-field class="example-full-width">

    <mat-label>Username</mat-label>
    <input name="username" type="text" matInput formControlName="username" [errorStateMatcher]="matcher"
      placeholder="username">
    <mat-error *ngIf="f.username.hasError('required')">
      Username is required
    </mat-error>
    <mat-hint></mat-hint>
    <mat-error *ngIf="f.username.hasError('minlength') || f.username.hasError('maxlength')">
      Username must be between 8 and 30 characters
    </mat-error>
    <mat-error *ngIf="f.username.hasError('pattern')">
      Username should not contain any special character
    </mat-error>
  </mat-form-field>
  <br>
  Email
  <mat-form-field class="example-full-width">

    <mat-label>Email</mat-label>
    <input name="email" type="text" matInput formControlName="email" [errorStateMatcher]="matcher"
      placeholder="ex: thamlam@fpt.edu.vn">
    <mat-error *ngIf="f.email.hasError('required')">
      Email is required
    </mat-error>
    <mat-error *ngIf="f.email.hasError('minlength') || f.email.hasError('maxlength')">
      Email must be between ? and ? characters
    </mat-error>
  </mat-form-field>
  <br>
  Name
  <mat-form-field class="example-full-width">

    <mat-label>Name</mat-label>
    <input name="displayName" type="text" matInput formControlName="displayName" [errorStateMatcher]="matcher"
      placeholder="Name">
    <mat-error *ngIf="f.displayName.hasError('required')">
      Name is required
    </mat-error>
    <mat-error *ngIf="f.displayName.hasError('pattern')">
      Name should not contain any special character
    </mat-error>
  </mat-form-field>
  <br>
Internal Code
<mat-form-field class="example-full-width">

  <mat-label>Internal code</mat-label>
  <input name="displayName" type="text" matInput formControlName="internalCode" [errorStateMatcher]="matcher"
    placeholder="Name">
  <mat-error *ngIf="f.internalCode.hasError('required')">
    Name is required
  </mat-error>
  <mat-error *ngIf="f.internalCode.hasError('pattern')">
    Name should not contain any special character
  </mat-error>
</mat-form-field>
<br>

  Password
  <mat-form-field class="example-full-width">

    <mat-label>Password</mat-label>
    <input name="password" type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
      placeholder="password">
    <mat-error *ngIf="f.password.hasError('required')">
      Password is required
    </mat-error>
    <mat-error *ngIf="f.password.hasError('minlength') || f.password.hasError('maxlength')">
      Password must be between 8 and 30 characters
    </mat-error>
    <mat-error *ngIf="f.password.hasError('pattern')">
      Password should not contain any special character
    </mat-error>
  </mat-form-field>
  <br>

  Select role:
  <mat-button-toggle-group class="button-role-toggle" name="fontStyle" formControlName="roleId" aria-label="Font Style">
    <mat-button-toggle value="1">Admin</mat-button-toggle>
    <mat-button-toggle value="2">Medical staff</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-error *ngIf="f.roleId.hasError('required')">Select account role</mat-error>
  <br>
  <button type="submit" mat-raised-button color="primary">Create</button>


</form> -->