mat-form-field{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

button{
    margin: 10px;
    float: right;
}

.example-form{
    width: 100%;
    text-align: center;
}

.mat-form-field-wrapper{
    width: 80%;
}

.button-role-toggle{
margin: 5px;
}