<!-- <header>
  <mat-toolbar class="mat-toolbar-example">
    <img src="./assets/8x2cm logo2.png" style='height: 70%; width: 15%; float: left;margin-left: 3%;'>
    <button type="button" mat-button (click)="ToggleNav()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <img src="./assets/pic_1171831236_1.png" class="avatar">
  </mat-toolbar>
</header> -->
<!-- <div class="header">
  <div>
    <img class="" src="assets/images/logo/logo.png" alt="Logo" width="250px">
    <img class="logo-fold" src="assets/images/logo/logo-fold.png" alt="Logo">
  </div>
</div> -->

<!-- <div class="header">
  <div class="logo">
    <a href="">
      <img src="assets/images/logo/logo.png" alt="Logo" width="180px">
      <img class="logo-fold" src="assets/images/logo/logo-fold.png" alt="Logo" width="180px">
    </a>
  </div>
  <div class="nav">
    <ul class="nav-left">
      <li>
        <a>
          <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </a>
      </li>
    </ul>

  </div>
</div> -->

<nz-header class="header">
  <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'" (click)="toggleCollapse()"></i>
  <a class="avatar" [routerLink]="'account/profile'" nz-dropdown [nzDropdownMenu]="menu">
    <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
  </a>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <a [routerLink]="'account/profile'">
        <li nz-menu-item>Trang cá nhân</li>
      </a>
      <a>
        <li nz-menu-item>??</li>
      </a>
      <li nz-menu-item>Đăng xuất</li>
    </ul>
  </nz-dropdown-menu>
</nz-header>