<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" [(nzCollapsed)]="isCollapsed" nzWidth="18%" nzTheme="light">
        <div class="sidebar-logo">
            <a href="">
                <img src="/assets/images/logo/logo-browser.png" alt="logo" />
                <h1>FHCS</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="inline" class="sider-menu">
            <li nz-submenu nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item>
                        <a>Default</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Quản lý dược phẩm" nzIcon="dollar">
                <ul>
                    <li nz-menu-item>
                        <a [routerLink]="'medicine-management/medicine-list'">Danh sách thuốc</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="'medicine-management/medicine-unit-list'">Danh sách đơn vị thuốc</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="'medicine-management/medicine-subgroup-list'">Danh sách nhóm thuốc</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="'medicine-management/medicine-classification-list'">Danh sách loại thuốc</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Quản lô dược phẩm" nzIcon="dollar">
                <ul>
                    <li nz-menu-item>
                        <a [routerLink]="'batch-medicine-management/batch-medicine-list'">Danh sách lô</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="'batch-medicine-management/eliminated-medicines-list'">Danh sách thuốc đã hủy</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Quản lý tài khoản" nzIcon="dollar">
                <ul>
                    <li nz-menu-item>
                        <a [routerLink]="'account/insert-account'">Tạo tài khoản mới</a>
                    </li>
                    <li nz-menu-item>
                        <a [routerLink]="'account/search-account'">Xem các tài khoản hiện có</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item>
                <i nz-icon nzType="file"></i>
                <span>File</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <app-header></app-header>
        <nz-content class="main-content">
            <nz-breadcrumb>
                <nz-breadcrumb-item>User</nz-breadcrumb-item>
                <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
            </nz-breadcrumb>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
        <app-footer></app-footer>
    </nz-layout>
</nz-layout>