<div class="d-flex flex-row flex-wrap padding-content">
  <div class="col-sm-6 col-md-5 col-lg-5 col-xl-3 padding-left">
    <div class="d-flex flex-column content">
      <div class="d-flex flex-row justify-content-between">
        <span class="text-teal-green m-r-10 font-weight-semibold font-size-18">Bộ lọc tím kiếm</span>
        <button nz-button nzType="primary" (click)="setToDefaultFilter()">
          <span>Mặc định</span>
        </button>
      </div>
      <br><br>
      <div class="search-filter">

        <div class="select-wrap">
          <nz-select class="select-w" nzPlaceHolder="Vai trò" nzAllowClear [(ngModel)]="role"
            (ngModelChange)="onSearchRole($event)">

            <nz-option *ngFor="let option of filterRole" [nzLabel]="option.text" [nzValue]="option.value"></nz-option>
          </nz-select>
          <nz-select class="select-w" nzPlaceHolder="Trạng thái" nzAllowClear [(ngModel)]="activeStatus"
            (ngModelChange)="onSearchActiveStatus($event)">
            <nz-option *ngFor="let option of filterActiveStatus" [nzLabel]="option.text" [nzValue]="option.value">
            </nz-option>
          </nz-select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-7 col-lg-7 col-xl-9 padding-right">
    <div class="d-flex flex-column justify-content-between content">
      <nz-input-group nzSize="large" nzCompact [nzAddOnAfter]="searchIconButton">
        <nz-select class="select-search" nzPlaceHolder="Tìm theo" nzAllowClear nzSize="large" style="width: 30%;"
          [(ngModel)]="selectedSearchAttribute" (ngModelChange)="onSearchAccountAttribute()">
          <nz-option *ngFor="let attribute of accountAttribute" [nzLabel]="attribute.viewValue"
            [nzValue]="attribute.value">
          </nz-option>
        </nz-select>
        <input type="text" class="input" nz-input [(ngModel)]="searchAccountValue" style="width:70%;" />
      </nz-input-group>

      <ng-template #searchIconButton>
        <button nz-button nzType="primary" nzSize="large" nzSearch class="iconButton" (click)="search()">
          <i nz-icon nzType="search" nzTheme="outline"></i>
        </button>
      </ng-template>
      <br>
      <nz-table [nzScroll]="{ x: '790px' }" [nzData]="accountList" nzTableLayout="fixed" [nzLoading]="loading"
        [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total"
        (nzQueryParams)="onQueryParamsChange($event)" [nzFrontPagination]="false" nzShowSizeChanger>
        <thead>
          <tr>
            <th nzWidth="20%" nzColumnKey="InternalCode" [nzSortFn]="true">Mã số</th>
            <th nzWidth="30%" nzColumnKey="DisplayName" [nzSortFn]="true">Tên</th>
            <th nzWidth="30%" nzColumnKey="RoleID" [nzSortFn]="true">Vai trò</th>
            <th nzWidth="20%" nzColumnKey="Active" [nzSortFn]="true">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr (click)="getAccountDetails(account.id)" *ngFor="let account of accountList">
            <td>{{ account.internalCode }}</td>
            <td>{{ account.displayName }}</td>
            <td>{{ account.role.roleName }}</td>

            <td *ngIf="account.active; else inActive">Hoạt động</td>
            <ng-template #inActive>
              <td>Dừng hoạt động</td>
            </ng-template>
            <!-- <td> <a nzAlign="center" style="color: #1890ff" >Chi
                tiết</a></td> -->
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>