<nz-spin [nzSpinning]="addMedicineLoading" nzTip="Loading...">
  <form nz-form nzLayout="horizontal" [formGroup]="medicineForm" class="form"
    (ngSubmit)="addNewMedicine(medicineForm.value)">
    <!---------------------- Medicine Name ----------------------------->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="name" class="text-label" [nzSpan]="7">
        <span class="font-size-18">Tên dược phẩm</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="medicineNameErrorTpl">
        <input id="name" nz-input placeholder="Nhập tên dược phẩm" style="font-size: 18px;" [nzSize]="'large'"
          formControlName="name" />
        <ng-template #medicineNameErrorTpl let-control>
          <ng-container *ngIf="f.name.hasError('required')">
            <span class="error-text">Hãy nhập tên thuốc</span>
          </ng-container>
          <ng-container *ngIf="f.name.hasError('minlength') || f.name.hasError('maxlength')">
            <span class="error-text">Nhập độ dài từ 3 tới 50</span>
          </ng-container>
          <ng-container *ngIf="f.name.hasError('pattern')">
            <span class="error-text">Không nhập ký tự đặc biệt</span>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!---------------------- Quantity ----------------------------->
    <!-- <nz-form-item>
    <nz-form-label nzRequired nzFor="quantity" class="text-label" [nzSpan]="7">
      <span class="font-size-18">Số lượng</span>
    </nz-form-label>
    <nz-form-control [nzErrorTip]="quantityErrorTpl">
      <nz-input-number id="quantity" formControlName="quantity" [nzMin]="1" [nzMax]="500" [nzStep]="1"
        [nzSize]="'large'" style="width: 100%;display: flex; align-items: center; font-size: 18px;"></nz-input-number>
      <ng-template #quantityErrorTpl let-control>
        <ng-container *ngIf="f.quantity.hasError('required')">
          <span class="error-text">Hãy nhập số lượng</span>
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item> -->
    <!---------------------- Medicine Classification ----------------------------->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="medicineClassificationId" class="text-label" [nzSpan]="7">
        <span class="font-size-18">Loại dược</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="classificationErrorTpl">
        <nz-select id="medicineClassificationId" formControlName="medicineClassificationId" nzAllowClear
          [nzSize]="'large'" nzPlaceHolder="Chọn loại dược phẩm"
          style="display: flex; align-items: center; font-size: 18px;">
          <nz-option *ngFor="let item of classList" [nzLabel]="item.name" [nzValue]="item.id" nzCustomContent>
            <span style="font-size: 18px;">{{ item.name }}</span>
          </nz-option>
        </nz-select>
        <ng-template #classificationErrorTpl let-control>
          <ng-container *ngIf="f.medicineClassificationId.hasError('required')">
            <span class="error-text">Hãy chọn loại dược phẩm</span>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!---------------------- Medicine Subgroup ----------------------------->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="medicineSubgroupId" class="text-label" [nzSpan]="7">
        <span class="font-size-18">Nhóm dược</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="subgroupErrorTpl">
        <nz-select id="medicineSubgroupId" nzShowSearch nzAllowClear formControlName="medicineSubgroupId"
          [nzDropdownRender]="renderSubgroupL" [nzSize]="'large'" nzPlaceHolder="Nhập nhóm dược"
          style="display: flex; align-items: center; font-size: 18px;">
          <nz-option *ngFor="let item of subgroupList" [nzLabel]="item.name" [nzValue]="item.id" nzCustomContent>
            <span style="font-size: 18px;">{{ item.name }}</span>
          </nz-option>
        </nz-select>
        <ng-template #renderSubgroupL>
          <nz-divider></nz-divider>
          <nz-spin [nzSpinning]="addItemLoading" nzTip="Loading...">
            <div class="container">
              <input type="text" nz-input #inputSubgroup [nzSize]="'large'" />
              <a class="add-item" (click)="addSubgroup(inputSubgroup.value)"><i nz-icon nzType="plus"></i> Thêm mới</a>
            </div>
          </nz-spin>
        </ng-template>
        <ng-template #subgroupErrorTpl let-control>
          <ng-container *ngIf="f.medicineSubgroupId.hasError('required')">
            <span class="error-text">Hãy nhập nhóm dược phẩm</span>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!---------------------- Medicine Unit ----------------------------->
    <nz-form-item>
      <nz-form-label nzRequired nzFor="unitId" class="text-label" [nzSpan]="7">
        <span class="font-size-18">Đơn vị</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="unitErrorTpl">
        <nz-select id="unitId" nzShowSearch nzAllowClear formControlName="unitId" [nzDropdownRender]="renderUnitL"
          [nzSize]="'large'" nzPlaceHolder="Nhập đơn vị" style="display: flex; align-items: center; font-size: 18px;">
          <nz-option *ngFor="let item of unitList" [nzLabel]="item.name" [nzValue]="item.id" nzCustomContent>
            <span style="font-size: 18px;">{{ item.name }}</span>
          </nz-option>
        </nz-select>
        <ng-template #renderUnitL>
          <nz-divider></nz-divider>
          <nz-spin [nzSpinning]="addItemLoading" nzTip="Loading...">
            <div class="container">
              <input type="text" nz-input #inputUnit [nzSize]="'large'" />
              <a class="add-item" (click)="addUnit(inputUnit.value)"><i nz-icon nzType="plus"></i> Thêm mới</a>
            </div>
          </nz-spin>
        </ng-template>
        <ng-template #unitErrorTpl let-control>
          <ng-container *ngIf="f.unitId.hasError('required')">
            <span class="error-text">Hãy nhập đơn vị</span>
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <!---------------------- Description ----------------------------->
    <nz-form-item>
      <nz-form-label nzFor="description" class="text-label" [nzSpan]="7">
        <span class="font-size-18 m-l-11">Mô tả</span>
      </nz-form-label>
      <nz-form-control [nzErrorTip]="descriptionErrorTpl">
        <nz-textarea-count [nzMaxCharacterCount]="500">
          <textarea id="description" nz-input placeholder="Nhập mô tả dược phẩm" rows="4" formControlName="description"
            style="font-size: 18px;"></textarea>
          <ng-template #descriptionErrorTpl let-control>
            <ng-container *ngIf="f.description.hasError('minlength') || f.description.hasError('maxlength')">
              <span class="error-text">Nhập độ dài từ 1 tới 500</span>
            </ng-container>
          </ng-template>
        </nz-textarea-count>

      </nz-form-control>
    </nz-form-item>
    <br><br>
    <nz-form-item>
      <nz-form-control>
        <button class="font-size-18" nz-button nzType="primary"
          style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">Thêm
          thuốc</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-spin>