.login-form {
    max-width: 300px;
    background-color: rgb(187, 178, 165);
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
