<form nz-form nzLayout="horizontal" [formGroup]="eliminatedMedicineDetailsForm"
    *ngIf="eliminatedMedicineDetailsForm && eliminatedMedicineDetails"
    (ngSubmit)="updatetEliminatedMedicine(eliminatedMedicineDetailsForm.value)">
    <!-- Mã số -->
    <nz-form-item>
        <nz-form-label [nzSpan]="7">
            <span class="font-size-18">Tên thuốc</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" type="text" nz-input [nzSize]="'large'" value="{{eliminatedMedicineDetails.medicine.name}}" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">
            <span class="font-size-18">Thuộc nhóm</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" type="text" nz-input [nzSize]="'large'"
                value="{{eliminatedMedicineDetails.medicine.medicineClassification.name}}" />
        </nz-form-control>
    </nz-form-item>
    <!-- Tên -->
    <nz-form-item>
        <nz-form-label nzRequired nzFor="displayName" [nzSpan]="7">
            <span class="font-size-18">Số lượng thuốc hủy</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="quantityTpl">
            <input id="quantity" nz-input [nzSize]="'large'" style="width: 10%;" formControlName="quantity" /><span
                class="font-size-18"> {{ eliminatedMedicineDetails.medicine.medicineUnit.name }}</span>
            <ng-template #quantityTpl let-control>
                <ng-container *ngIf="f.quantity.hasError('required')">
                   <span>{{ generalService.showRequiredError("Số lượng thuốc hủy") }}</span>
                </ng-container>
                <ng-container *ngIf="f.quantity.hasError('pattern')">
                    <span>{{ generalService.showNumberPatternError("Số lượng thuốc hủy") }}</span>
                </ng-container>
                <ng-container *ngIf="f.quantity.hasError('max')">
                    <span>Số lượng thuốc hủy phải nhỏ hơn lượng thuốc tồn trong kho</span>
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired nzFor="displayName" [nzSpan]="7">
            <span class="font-size-18">Số lượng thuốc còn trông lô</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" id="quantity" nz-input [nzSize]="'large'" style="width: 10%;"
                value="{{ eliminatedMedicineDetails.medicineInInventory.quantity }} {{ eliminatedMedicineDetails.medicine.medicineUnit.name }}"/>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="7">
            <span class="font-size-18">Thuộc lô</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="">
            <input [disabled]="true" type="text" nz-input [nzSize]="'large'"
                value="{{eliminatedMedicineDetails.medicineInInventory.createdDate}}" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nzRequired nzFor="displayName" [nzSpan]="7">
            <span class="font-size-18">Ngày nhập</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" id="quantity" nz-input [nzSize]="'large'"
                value="{{ eliminatedMedicineDetails.medicineInInventory.importMedicine.insertDate }}" />
        </nz-form-control>
    </nz-form-item>
    <!-- Email -->

    <!-- Sdt -->
    <nz-form-item>
        <nz-form-label [nzSpan]="7">
            <span [disabled]="true" class="font-size-18">Ngày hết hạn</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" type="text" nz-input [nzSize]="'large'"
                value="{{ eliminatedMedicineDetails.medicineInInventory.importMedicine.expirationDate }}" />
        </nz-form-control>
    </nz-form-item>
    <!-- Role -->
    <nz-form-item>
        <nz-form-label [disabled]="true" [nzSpan]="7">
            <span class="font-size-18">Ngày hủy</span>
        </nz-form-label>
        <nz-form-control>
            <input [disabled]="true" type="text" nz-input [nzSize]="'large'" value="{{eliminatedMedicineDetails.createDate}}" />
        </nz-form-control>
    </nz-form-item>
    <!-- Active -->
   
    <!-- Description -->
    <nz-form-item>
        <nz-form-label nzFor="reason" [nzSpan]="7">
            <span class="font-size-18 m-l-11">Lí do hủy</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="reasonTpl">
            <nz-textarea-count [nzMaxCharacterCount]="500">
                <textarea id="reason" nz-input placeholder="Nhập mô tả dược phẩm" rows="4" formControlName="reason"
                    style="font-size: 18px;" formControlName="reason"></textarea>
                <ng-template #reasonTpl let-control>
                    <!-- <ng-container *ngIf="f.reason.hasError('minlength') || f.reason.hasError('maxlength')">
                        <span class="error-text">Nhập độ dài từ 1 tới 500</span>
                    </ng-container> -->
                </ng-template>
            </nz-textarea-count>
        </nz-form-control>
    </nz-form-item>
    <br><br>
    <nz-form-item>
        <nz-form-control>
            <button (click)="enableUpdate()" *ngIf="!isEditing" class="font-size-18" nz-button nzType="primary"
                style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
                Sửa thông tin
            </button>
            <button *ngIf="isEditing" class="font-size-18" type="submit" nz-button nzType="primary"
                style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
                Lưu
            </button>
            <button *ngIf="isEditing" class="font-size-18" nz-button (click)="getEliminatedMedicineDetails()"
                style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
                Hủy
            </button>
        </nz-form-control>


    </nz-form-item>
</form>