<div class="d-flex flex-row flex-wrap padding-content">
    <div class="col-sm-6 col-md-5 col-lg-5 col-xl-3 padding-left">
        <div class="d-flex flex-column content">
            <div class="d-flex flex-row justify-content-between">
                <span class="text-teal-green m-r-10 font-weight-semibold font-size-18">Bộ lọc tím kiếm</span>
                <button nz-button nzType="primary" (click)="setToDefaultFilter()">
                    <span>Mặc định</span>
                </button>
            </div>
            <div class="search-filter">
                <br>

                <div class="select-wrap">
                    <div class="filter">
                        <span class="label">Ngày nhập: </span>
                        <nz-range-picker [ngClass]="{'border-selected': dateRangeSelected}" [nzRanges]="ranges"
                            [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)" style="width: 250px;"
                            nzFormat="dd-MM-yyyy"></nz-range-picker>
                    </div>
                    <div class="filter">
                        <span class="label">Giới tính: </span>
                        <nz-select class="select-w" nzPlaceHolder="Giới tính" nzAllowClear
                            [(ngModel)]="genderFilterValue" (ngModelChange)="onSearchGender()">
                            <nz-option *ngFor="let option of gender" [nzLabel]="option.name" [nzValue]="option.id">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="filter">
                        <span class="label">Phòng ban: </span>
                        <nz-select class="select-w" nzPlaceHolder="Phòng bang" nzAllowClear
                            [(ngModel)]="departmentFilterValue" (ngModelChange)="onSearchDepartment()">
                            <nz-option *ngFor="let option of departmentList" [nzLabel]="option.name"
                                [nzValue]="option.id">
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="filter">
                        <span class="label">Trạng thái đơn: </span>
                        <nz-select class="select-w" nzPlaceHolder="Trạng thái đơn" nzAllowClear
                            [(ngModel)]="treatmentStatusFilterValue" (ngModelChange)="onSearchTreatmentStatus()">
                            <nz-option *ngFor="let option of treatmentStatus" [nzLabel]="option.name"
                                [nzValue]="option.id">
                            </nz-option>
                        </nz-select>
                    </div>

                    <br><br>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-7 col-lg-7 col-xl-9 padding-right">
        <div class="d-flex flex-column justify-content-between content">
            <nz-input-group nzSize="large" nzCompact [nzAddOnAfter]="searchIconButton">
                <nz-select class="select-search" nzPlaceHolder="Tìm theo" nzAllowClear nzSize="large"
                    style="width: 20%;" [(ngModel)]="selectedSearchAttribute">
                    <nz-option *ngFor="let attribute of searchAttributelist" [nzLabel]="attribute.name"
                        [nzValue]="attribute.id">
                    </nz-option>
                </nz-select>
                <nz-select class="select-search" nzPlaceHolder="Vai trò" nzAllowClear nzSize="large" style="width: 20%;"
                    [(ngModel)]="selectedSearchRole">
                    <nz-option *ngFor="let role of searchRoleList" [nzLabel]="role.name" [nzValue]="role.id">
                    </nz-option>
                </nz-select>
                <input type="text" class="input" nz-input [(ngModel)]="searchTreatmentValue" style="width:60%;" />
            </nz-input-group>

            <ng-template #searchIconButton>
                <button nz-button nzType="primary" nzSize="large" nzSearch class="iconButton" (click)="search()">
                    <i nz-icon nzType="search" nzTheme="outline"></i>
                </button>
            </ng-template>
            <br>
            <nz-table nzShowSizeChanger class="medicine-table" #colSpanTable [nzData]="treatmentList"
                nzTableLayout="fixed" nzBordered [nzFrontPagination]="false" [nzPageSize]="pageSize"
                [nzPageIndex]="pageIndex" [nzTotal]="total" [nzFrontPagination]="false"
                (nzQueryParams)="onQueryParamsChange($event)" [nzLoading]="loading">
                <thead>
                    <tr>
                        <th nzWidth="10%" nzColumnKey="InternalCode">Ngày</th>
                        <th nzWidth="5%" nzColumnKey="DisplayName">Stt</th>
                        <th nzWidth="10%" nzColumnKey="Active">MS nhân viên</th>
                        <th nzWidth="16%" nzColumnKey="Active">Tên nhân viên</th>
                        <th nzWidth="6%" nzColumnKey="Active">Giới tính</th>
                        <th nzWidth="10%" nzColumnKey="Active">Bộ phận</th>
                        <th nzWidth="10%" nzColumnKey="Active">Trạng thái đơn</th>
                        <!-- <th nzWidth="10%"></th> -->
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let data of treatmentTableData">
                        <tr>
                            <td [attr.rowspan]="data.treatmentInfor.length + 1">{{data.date}}</td>
                        </tr>
                        <tr *ngFor="let treatment of data.treatmentInfor; index as i"  (click)="getTreatment(treatment.id)">

                            <td>{{ i+1 }}</td>
                            <td>{{ treatment.patient.internalCode }}</td>
                            <td>{{ treatment.patient.name }}</td>
                            <td>{{ generalService.getGender(treatment.patient.gender) }}</td>
                            <td>{{ treatment.department.name }}</td>
                            <td *ngIf="treatment.isDelivered; else notDelivered">Đã xác nhận</td>
                            <ng-template #notDelivered>
                                <td>Chưa xác nhận</td>
                            </ng-template>
                            <!-- <td> <a nzAlign="center" style="color: #1890ff" (click)="getTreatment(treatment.id)">Chi
                                    tiết</a></td> -->
                        </tr>
                    </ng-container>
                </tbody>
            </nz-table>
        </div>

    </div>

</div>