<div class="container d-flex flex-wrap justify-content-between h-100">
    <div class="container-left col-md-12 col-lg-6">
        <div class="bg-white d-flex flex-column p-h-20 p-v-10">
            <span class="text-teal-green font-size-18 font-weight-semibold">Bác sĩ</span>
            <dividing-line></dividing-line>
           
              <div class="info-wrapper">
                <div class="header-info">
                  <span class="font-weight-semibold font-size-16 text-teal-green">Tên</span>
                  <span>{{ medicalStaff.displayName }}</span>
                </div>
                <div class="header-info">
                  <span class="font-weight-semibold font-size-16 text-teal-green">Mã số</span>
                  <span>{{ medicalStaff.internalCode }}</span>
                </div>
              </div>
        </div>

        <div class="bg-white m-t-22 m-b-20 p-10 d-flex flex-column p-h-20 p-v-10">
            <span class="text-teal-green font-size-18 font-weight-semibold">Thông tin người khám</span>
            <dividing-line></dividing-line>
            <form nz-form nzLayout="horizontal" *ngIf="insertTreatmentInformationForm"
                [formGroup]="insertTreatmentInformationForm" class="form"
                (ngSubmit)="addTreatmentInformation(insertTreatmentInformationForm.value)">
                <nz-form-item>
                    <nz-form-label nzRequired class="text-label" [nzSpan]="7">
                        <span class="font-size-16">Mã số</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="internalCodeTpl">
                        <input nz-input placeholder="Nhập mã số"
                            (input)='patientIntetrnalCodeInputChange(inputInternalCode.value)' style="font-size: 16px;"
                            [nzSize]="'large'" formControlName="internalCode" #inputInternalCode
                            [nzAutocomplete]="autoInternalCode" />
                        <nz-autocomplete #autoInternalCode>
                            <ng-container *ngFor="let option of patientList">
                                <nz-auto-option *ngIf="!isLoading" class="global-search-item" [nzValue]="option"
                                    [nzLabel]="option.internalCode">
                                    {{option.internalCode}}
                                </nz-auto-option>
                            </ng-container>
                            <nz-auto-option nzDisabled nzCustomContent>
                                <i nz-icon></i> Đang tìm kiếm...
                            </nz-auto-option>
                            <!-- <ng-container *ngIf="patientList.value != ''">
                          <nz-auto-option *ngIf="patientList.length <= 0" nzDisabled nzCustomContent>
                            Không thấy kết quả tìm kiếm
                          </nz-auto-option>
                        </ng-container> -->

                        </nz-autocomplete>
                        <ng-template #internalCodeTpl let-control>
                            <ng-container *ngIf="f.internalCode.hasError('required')">
                                <span class="error-text"> {{ generalService.showRequiredError("Mã số") }}
                                </span>
                            </ng-container>
                            <!-- <ng-container *ngIf="f.internalCode.hasError('minlength') || f.name.hasError('maxlength')">
                        <span class="error-text">Nhập độ dài từ 3 tới 50</span>
                    </ng-container>
                    <ng-container *ngIf="f.internalCode.hasError('pattern')">
                        <span class="error-text">Không nhập ký tự đặc biệt</span>
                    </ng-container> -->
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzRequired class="text-label" [nzSpan]="7">
                        <span class="font-size-16">Tên</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="nameTpl">
                        <input nz-input placeholder="Nhập tên người bệnh" style="font-size: 16px;" [nzSize]="'large'"
                            formControlName="name" />
                        <ng-template #nameTpl let-control>
                            <ng-container *ngIf="f.name.hasError('required')">
                                <span class="error-text">
                                    {{ generalService.showRequiredError("Tên") }}
                                </span>
                            </ng-container>
                            <!-- <ng-container *ngIf="f.internalCode.hasError('minlength') || f.name.hasError('maxlength')">
                        <span class="error-text">Nhập độ dài từ 3 tới 50</span>
                    </ng-container>
                    <ng-container *ngIf="f.internalCode.hasError('pattern')">
                        <span class="error-text">Không nhập ký tự đặc biệt</span>
                    </ng-container> -->
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label class="text-label" [nzSpan]="7">
                        <span class="font-size-16">Giới tính</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="genderTpl">
                        <nz-select formControlName="gender" nzAllowClear [nzSize]="'large'" nzPlaceHolder="Giới tính"
                            style="display: flex; align-items: center; font-size: 16px;">
                            <nz-option *ngFor="let item of gender" [nzLabel]="item.name" [nzValue]="item.id">
                                <span style="font-size: 16px;">{{ item.name }}</span>
                            </nz-option>
                        </nz-select>
                        <!-- <ng-template #genderTpl let-control>
                    <ng-container *ngIf="f.medicineClassificationId.hasError('required')">
                        <span class="error-text">Hãy chọn loại dược phẩm</span>
                    </ng-container>
                </ng-template> -->
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired class="text-label" [nzSpan]="7">
                        <span class="font-size-16">Phòng bang</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="departmentTpl">
                        <nz-select nzShowSearch nzAllowClear formControlName="departmentId"
                            [nzDropdownRender]="renderDepartment" [nzSize]="'large'" nzPlaceHolder="Phòng bang"
                            style="display: flex; align-items: center; font-size: 16px;">
                            <nz-option *ngFor="let item of departmentList" [nzLabel]="item.name" [nzValue]="item.id"
                                nzCustomContent>
                                <span style="font-size: 16px;">{{ item.name }}</span>
                            </nz-option>
                        </nz-select>
                        <ng-template #renderDepartment>
                            <nz-divider></nz-divider>
                            <nz-spin [nzSpinning]="addItemLoading">
                                <div class="container">
                                    <input type="text" nzPlaceHolder="Nhập phòng bang mới" nz-input #inputDepartment
                                        [nzSize]="'large'" />
                                    <a class="add-item" (click)="addDepartment(inputDepartment)"><i nz-icon
                                            nzType="plus"></i>
                                        Thêm mới</a>
                                </div>
                            </nz-spin>
                        </ng-template>
                        <!-- <ng-template #subgroupErrorTpl let-control>
              <ng-container *ngIf="f.medicineSubgroupId.hasError('required')">
                <span class="error-text">Hãy nhập nhóm dược phẩm</span>
              </ng-container>
            </ng-template> -->
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label nzRequired class="text-label" [nzSpan]="7">
                        <span class="font-size-16">Tình trạng bệnh</span>
                    </nz-form-label>
                    <nz-form-control>
                        <nz-select nzSize="large" nzMode="tags" [(ngModel)]="patientDeseaseStatusList"
                            (nzOnSearch)="onSearchDeseaseStatus($event)" [ngModelOptions]="{standalone: true}"
                            nzAllowClear nzShowSearch nzServerSearch>
                            <ng-container *ngFor="let o of diseaseStatusList">
                                <nz-option [nzValue]="o.id" [nzLabel]="o.name"></nz-option>
                            </ng-container>
                            <nz-option nzDisabled nzCustomContent>
                                <i nz-icon></i> Loading Data...
                            </nz-option>
                        </nz-select>
                        <!-- <nz-select  formControlName="diseaseStatusNames" [nzSize]="'large'" nzMode="tags"
                    nzPlaceHolder="Please select">
                </nz-select> -->
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label class="text-label" [nzSpan]="7">
                        <span class="font-size-16 m-l-11">Dị ứng thuốc</span>
                    </nz-form-label>
                    <nz-form-control [nzErrorTip]="allergyDescriptionTpl">
                        <nz-textarea-count [nzMaxCharacterCount]="500">
                            <textarea nz-input placeholder="Bệnh nhân dị ứng với các thuốc" rows="4"
                                formControlName="allergyDescription" style="font-size: 16px;"></textarea>
                            <!-- <ng-template #descriptionErrorTpl let-control>
                  <ng-container *ngIf="f.description.hasError('minlength') || f.description.hasError('maxlength')">
                    <span class="error-text">Nhập độ dài từ 1 tới 500</span>
                  </ng-container>
                </ng-template> -->
                        </nz-textarea-count>

                    </nz-form-control>
                </nz-form-item>

                <br><br>
                <nz-form-item>
                    <nz-form-control>
                        <button class="font-size-16" nz-button nzType="primary"
                            style=" float: right; padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">Tạo
                            đơn</button>
                    </nz-form-control>
                </nz-form-item>
            </form>
        </div>

    </div>
    <div class="container-right col-md-12 col-lg-6">
        <div class="bg-white d-flex flex-column p-h-20 p-v-10 w-100">
            <span class="text-teal-green font-size-18 font-weight-semibold">Cấp phát thuốc</span>
            <dividing-line></dividing-line>
            <a nz-button nzType="default" style="margin: 30px; float: right;" (click)="showMedicineModal()">Thêm
                thuốc</a>

            <nz-table class="medicine-table" #basicTable [nzData]="treatmentInformation" nzTableLayout="fixed"
                [nzFrontPagination]="false">
                <thead>
                    <tr>
                        <th nzWidth="30%" nzColumnKey="InternalCode">Thuốc</th>
                        <th nzWidth="20%" nzColumnKey="DisplayName">Số lượng</th>
                        <th nzWidth="50%" nzColumnKey="Active">Hướng điều trị</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let medicine of treatmentInformation">
                        <td nzTooltipTitle="displayTipTreatmentInformationDetails(medicine.medicineId)"
                            nzTooltipPlacement="leftTop" nz-tooltip>
                            {{ medicine.medicineName }}</td>
                        <td>{{ medicine.quantity }} {{medicine.unitName}}</td>
                        <td><input #inputValue nzInput style="width: 100%;"
                                (input)="insertIndicationToDrink(medicine.medicineId, inputValue.value)">
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>

        <div class="bg-white d-flex flex-column p-h-20 p-v-10 m-t-22">
            <div class="bg-white d-flex flex-column p-h-20 p-v-10 w-100">
                <span class="text-teal-green font-size-18 font-weight-semibold">Chữ kí xác nhận</span>
                <dividing-line></dividing-line>
                <nz-form-item  style="text-align: center;">
                    <nz-form-control>
                        <nz-upload class="avatar-uploader" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                            nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false"
                            [nzBeforeUpload]="beforeUpload" (nzChange)="handleChange($event)">
                            <ng-container *ngIf="!avatarUrl">
                                <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
                                <div class="ant-upload-text">Upload</div>
                            </ng-container>
                            <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
                        </nz-upload>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </div>
</div>