<div class="inner-content">

  <div class="header-content d-flex flex-column" *ngIf="medicineInInventory">
    <nz-divider [nzText]="heading" nzOrientation="left">
      <ng-template #heading>
        <span class="font-weight-semibold font-size-18">Thuốc</span>
      </ng-template>
    </nz-divider>
    <div class="info-wrapper">
      <div class="header-info">
        <span class="font-weight-semibold font-size-16 text-teal-green">Tên</span>
        <span>{{ medicineInInventory.name }}</span>
      </div>
      <div class="header-info">
        <span class="font-weight-semibold font-size-16 text-teal-green">Hiện Có</span>
        <span>{{ medicineInInventory.quantity }}  {{ medicineInInventory.medicineUnit.name }}</span>
      </div>
      <div class="header-info">
        <span class="font-weight-semibold font-size-16 text-teal-green">Thuộc loại</span>
        <span>{{ medicineInInventory.medicineClassification.name }}</span>
      </div>
      <div class="header-info">
        <span class="font-weight-semibold font-size-16 text-teal-green">Thuộc nhóm</span>
        <span>{{ medicineInInventory.medicineSubgroup.name }}</span>
      </div>
      <div class="header-info">
        <span class="font-weight-semibold font-size-16 text-teal-green">Tổng số lô thuốc</span>
        <span>{{ total }} lô</span>
      </div>
    </div>
    <nz-divider style="border: 1px solid #f0f0f0ba"></nz-divider>
  </div>
 
  <nz-table [nzScroll]="{ x: '1000px' }" [nzData]="medicineInInventoryDetails" nzTableLayout="fixed"
    [nzLoading]="loading" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" [nzTotal]="total"
    [nzFrontPagination]="false" (nzQueryParams)="onQueryParamsChange($event)">
    <thead>
      <tr>
        <!-- <th nzWidth="40px" nzColumnKey="InternalCode" [nzSortFn]="true">Stt</th> -->
        <th nzWidth="60px" nzColumnKey="importBatch.createDate" [nzSortFn]="true">Lô</th>
        <th nzWidth="60px" nzColumnKey="quantity" [nzSortFn]="true">Số lượng</th>
        <th nzWidth="30px">Đơn vị</th>
        <th nzWidth="80px" nzColumnKey="importMedicine.insertDate" [nzSortFn]="true">Ngày nhập</th>
        <!-- <th nzWidth="60px" nzColumnKey="price" [nzSortFn]="true"> Giá</th> -->
        <th nzWidth="80px" nzColumnKey="importMedicine.expirationDate" [nzSortFn]="true">Ngày hết hạn</th>
        <th nzWidth="60px"></th>
        <th nzWidth="60px"></th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let detail of medicineInInventoryDetails">
        <td>{{ generalService.getDate(detail.importBatch.createDate) }}</td>
        <td>{{ detail.quantity }}</td>
        <td>{{ detail.medicineUnit.name }}</td>
        <td>{{ generalService.getDate(detail.importMedicine.insertDate) }}</td>
        <!-- <td>{{ detail.importMedicine.price }} đ</td> -->
        <td>{{ generalService.getDate(detail.importMedicine.expirationDate) }}</td>
        <td> <a style="color: #1890ff"
          (click)="getMedicineInInventoryDetails(detail.id)">Chi
          tiết</a></td>
          <td> <a style="color: #1890ff"
            (click)="showEliminateMedicineModel(detail.id, generalService.getDate(detail.importBatch.createDate), medicineInInventory.name, medicineInInventory.medicineUnit.name,  detail.quantity)">Hủy
            thuốc</a></td>
    </tbody>
  </nz-table>
</div>