.search-field {
    width: 60%;
    height: 40px;
    margin-right: 1%;
    background-color: #e6e6e63e;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.iconButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100px;
}

.select-filter {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    
    .select-w {
        // nz-select-top-control {
        //     border: solid 1px teal !important;
        // }
        // width: 240px;
        margin-top: 5px;
    }
}

