<div class="container d-flex flex-wrap justify-content-between h-100">
    <div class="container-left col-md-5 col-lg-6 col-xl-5">
        <div class="bg-white d-flex flex-column p-h-20 p-v-10 m-b-20">
            <span class="text-teal-green font-size-18 font-weight-semibold">Tạo yêu cầu mua dược phẩm</span>
            <nz-divider class="divider-border"></nz-divider>
            <nz-spin [nzSpinning]="addRequestLoading" nzTip="Đang xử lý...">
                <form nz-form nzLayout="horizontal" [formGroup]="buyMedicineForm" class="form"
                    (ngSubmit)="addMedicineToRquestList(buyMedicineForm.value)">
                    <!-- --------------------------------- Medicine ------------------------------------ -->
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="medicine" class="text-label">
                            <span class="font-size-16">Tên dược phẩm</span>
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="medicineNameErrorTpl">
                            <nz-select id="medicine" nzServerSearch nzShowSearch nzAllowClear formControlName="medicine"
                                [nzShowArrow]="false" nzSize="large" (nzOnSearch)="inputChange($event)"
                                nzPlaceHolder="Nhập dược phẩm" [nzDropdownRender]="renderMedicine">

                                <ng-container *ngFor="let option of medicineList">
                                    <nz-option *ngIf="!isLoading" [nzLabel]="option.name" [nzValue]="option">
                                        {{ option.name }}
                                    </nz-option>
                                </ng-container>
                                <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
                                    <i nz-icon nzType="loading" class="loading-icon"></i> Đang tìm kiếm...
                                </nz-option>
                            </nz-select>
                            <ng-template #renderMedicine>
                                <nz-divider style="margin: 4px 0 !important;"></nz-divider>
                                <nz-spin [nzSpinning]="addItemLoading" nzTip="Loading...">
                                    <div class="d-flex align-items-center justify-content-center p-8">
                                        <a class="add-item" (click)="addNewMedicineModal()">
                                            Thêm mới dược phẩm </a>
                                    </div>
                                </nz-spin>
                            </ng-template>
                            <ng-template #medicineNameErrorTpl let-control>
                                <ng-container *ngIf="form.medicine.hasError('required')">
                                    <span class="error-text">Hãy nhập tên dược phẩm</span>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <!-- --------------------------------- Unit ------------------------------------ -->
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="unit" class="text-label">
                            <span class="font-size-16">Đơn vị</span>
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="unitErrorTpl">
                            <nz-select id="unit" nzShowSearch nzAllowClear formControlName="unit"
                                [nzDropdownRender]="renderUnit" nzSize="large" nzPlaceHolder="Chọn đơn vị"
                                style="display: flex; align-items: center; font-size: 16px;">
                                <nz-option *ngFor="let item of unitList" [nzLabel]="item.name" [nzValue]="item.id"
                                    nzCustomContent>
                                    <span style="font-size: 16px;">{{ item.name }}</span>
                                </nz-option>
                            </nz-select>
                            <ng-template #renderUnit>
                                <nz-divider style="margin: 4px 0 !important;"></nz-divider>
                                <nz-spin [nzSpinning]="addItemLoading" nzTip="Loading...">
                                    <div class="container">
                                        <input type="text" nz-input #inputUnit [nzSize]="'large'" />
                                        <a class="add-item" (click)="addUnit(inputUnit.value)">
                                            <i nz-icon nzType="plus"></i> Thêm mới
                                        </a>
                                    </div>
                                </nz-spin>
                            </ng-template>
                            <ng-template #unitErrorTpl let-control>
                                <ng-container *ngIf="form.unit.hasError('required')">
                                    <span class="error-text">Hãy nhập đợn vị dược phẩm</span>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <!-- --------------------------------- Quantity ------------------------------------ -->
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="quantity" class="text-label">
                            <span class="font-size-16">Số lượng</span>
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="quantityErrorTpl">
                            <nz-input-number id="quantity" formControlName="quantity" [nzMin]="1" [nzStep]="1"
                                nzPlaceHolder="Nhập số lượng" [nzSize]="'large'"
                                style="width: 100%; display: flex; align-items: center; font-size: 16px;">
                            </nz-input-number>
                            <ng-template #quantityErrorTpl let-control>
                                <ng-container *ngIf="form.quantity.hasError('required')">
                                    <span class="error-text">Hãy nhập số lượng</span>
                                </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                    <!-- --------------------------------- Note ------------------------------------ -->
                    <nz-form-item>
                        <nz-form-label nzFor="note" class="text-label">
                            <span class="font-size-16 m-l-11">Ghi chú</span>
                        </nz-form-label>
                        <nz-form-control [nzErrorTip]="noteErrorTpl">
                            <nz-textarea-count [nzMaxCharacterCount]="500">
                                <textarea id="description" nz-input placeholder="Nhập ghi chú dược phẩm" rows="4"
                                    formControlName="note" style="font-size: 16px;"></textarea>
                                <ng-template #noteErrorTpl let-control>
                                    <ng-container
                                        *ngIf="form.note.hasError('minlength') || form.note.hasError('maxlength')">
                                        <span class="error-text">Nhập độ dài từ 1 tới 500</span>
                                    </ng-container>
                                </ng-template>
                            </nz-textarea-count>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item style="margin-bottom: 0px; margin-top: 20px;">
                        <nz-form-control>
                            <button *ngIf="!isDetail" class="font-size-16" nz-button nzType="primary" nzSize="large"
                                [disabled]="!buyMedicineForm.valid">
                                Thêm thuốc</button>
                            <ng-container *ngIf="isDetail">
                                <div class="d-flex flex-row justify-content-start flex-wrap">
                                    <a class="font-size-16 m-r-10" nz-button nzType="primary" nzSize="large"
                                        (click)="cancel()">Hủy</a>
                                    <a class="font-size-16 m-r-10" nz-button nzType="primary" nzSize="large"
                                        (click)="updateRequestDetail(buyMedicineForm.value)">Cập nhật</a>
                                </div>
                            </ng-container>
                        </nz-form-control>
                    </nz-form-item>
                </form>
            </nz-spin>
        </div>


    </div>
    <div class="container-right col-md-7 col-lg-6 col-xl-7">
        <div class="bg-white d-flex flex-column p-h-20 p-v-10">
            <span class="text-teal-green font-size-18 font-weight-semibold">Danh sách dược phẩm yêu cầu</span>
            <nz-divider class="divider-border"></nz-divider>
            <nz-spin [nzSpinning]="sendRequestToBuyMedicineLoading" nzTip="Đang xử lý...">
                <div class="d-flex flex-column justify-content-between" style="height: 346px;">
                    <nz-table #nzTable [nzFrontPagination]="false" [nzData]="buyMedicineListDisplay"
                        [nzScroll]="{ y: '320px' }">
                        <thead>
                            <tr>
                                <th nzWidth="25%" nzAlign='left'>Dược phẩm</th>
                                <th nzWidth="20%" nzAlign='center'>Đơn vị</th>
                                <th nzWidth="20%" nzAlign='center'>Số lượng</th>
                                <th nzWidth="25%">Ghi chú</th>
                                <th nzWidth="10%" nzAlign='center'></th>
                            </tr>
                        </thead>
                        <!-- <ng-container *ngIf="importMedicineList.length > 0"> -->
                        <tbody>
                            <tr *ngFor="let data of buyMedicineListDisplay; index as i">
                                <td nzAlign='left'>
                                    <span (click)="requestBuyDetail(data)" class="text-link font-weight-semibold">
                                        {{ data.medicineName }}
                                    </span>
                                </td>
                                <td nzAlign='center'>{{ data.medicineUnitName }}</td>
                                <td nzAlign='center'>{{ data.quantity }}</td>
                                <td nzEllipsis>{{ data.note }}</td>
                                <td nzAlign='center'>
                                    <a nz-popconfirm nzPopconfirmTitle="Chắc chắn xóa chứ?" style="color: #1890ff"
                                        (nzOnConfirm)="deleteRquest(data.id)">
                                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <!-- </ng-container> -->
                    </nz-table>
                    <button class="font-size-16" nz-button nzType="primary"
                        [disabled]="buyMedicineListDisplay.length <= 0" nzSize="large" (click)="updateRequest()"
                        style="width: 160px;">
                        Xác nhận cập nhật
                    </button>
                </div>
            </nz-spin>
        </div>
    </div>
</div>