<div class="inner-content bg-white">
    <div class="d-flex flex-row align-items-center justify-content-between m-b-10">
        <nz-input-group nzSearch nzSize="large" [nzSuffix]="searchIconButton">
            <input placeholder="Nhập tên loại" nz-input [(ngModel)]="searchValue"
                (input)="inputChange(inputValue.value)" #inputValue />
        </nz-input-group>
        <ng-template #searchIconButton>
            <i nz-icon nzType="search"></i>
        </ng-template>
        <button *ngIf="generalService.isMedicalStaff()" nz-button nzType="primary" nzBlock nzSize="large"
            style="width: 160px;" nz-popover nzPopoverTitle="Thêm loại mới" [nzPopoverContent]="classPopover"
            nzPopoverTrigger="click" nzPopoverPlacement="bottomRight" [(nzPopoverVisible)]="visible"
            (nzPopoverVisibleChange)="popoverChange($event)" class="m-l-10">
            Thêm loại
        </button>
        <ng-template #classPopover>
            <form nz-form [formGroup]="classForm">
                <nz-form-item style="margin-bottom: 0px;">
                    <nz-form-control [nzErrorTip]="addUnitErrorTpl">
                        <nz-input-group nzSearch [nzAddOnAfter]="addButton">
                            <input type="text" nz-input placeholder="Nhập tên loại" formControlName="class" />
                        </nz-input-group>
                    </nz-form-control>
                </nz-form-item>
                <ng-template #addUnitErrorTpl let-control>
                    <ng-container *ngIf="form.class.hasError('required')">
                        <span>Không được để trống</span>
                    </ng-container>
                </ng-template>
                <ng-template #addButton>
                    <button nz-button nzType="primary" nzSearch class="iconButton" style="height: 31px;"
                        (click)="addNewClassMethod()">
                        <i nz-icon nzType="plus" nzTheme="outline"></i>
                    </button>
                </ng-template>
            </form>
        </ng-template>
    </div>

    <br>
    <nz-spin [nzSpinning]="tableLoading" nzTip="Đang xử lý...">
        <nz-table #nzTable [nzFrontPagination]="false" [nzData]="classList" [nzTotal]="totalRecord"
            [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th nzWidth="25%">No.</th>
                    <th nzWidth="45%" nzColumnKey="name" [nzSortFn]="true">Tên loại thuốc</th>
                    <th *ngIf="generalService.isMedicalStaff()" nzWidth="15%" nzAlign='right'></th>
                    <th *ngIf="generalService.isMedicalStaff()" nzWidth="15%" nzAlign='right'></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of classList; index as i">
                    <td>{{ i+(page*pageLimit)-(pageLimit-1) }}</td>
                    <ng-container *ngIf="!classList[i].edit; else editTemplate">
                        <td>{{ data.name }}</td>
                        <td *ngIf="generalService.isMedicalStaff()" nzAlign='right'><a (click)="startEdit(i)"
                                class="a-button">Chỉnh sửa</a></td>
                    </ng-container>
                    <ng-template #editTemplate>
                        <td><input type="text" nz-input [(ngModel)]="classList[i].name" #inputValue /></td>
                        <td nzAlign='right'>
                            <a (click)="saveEdit(data.id, i, inputValue.value)" class="m-r-10 a-button">Lưu</a>
                            <a nz-popconfirm nzPopconfirmTitle="Bạn chắc chứ?" (nzOnConfirm)="cancelEdit(i)"
                                class="a-button">Hủy</a>
                        </td>
                    </ng-template>
                    <td *ngIf="generalService.isMedicalStaff()" nzAlign='right'>
                        <a nz-popconfirm nzPopconfirmTitle="Chắc chắn xóa chứ?" style="color: #b31b1b;"
                            (nzOnConfirm)="deleteClass(data.id)">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </nz-spin>
</div>