<button class="col-sm-7 col-md-7 col-lg- col-xl-7 p-2c5 btn border-radius button-link"
     style="background-color: #3AC3DC;"  (click)="authService. linkToGmailAccount()">
    <div class="d-flex align-items-center justify-content-start">
        <img src="/assets/others/google.svg" alt="Google" width="40px">
        <h2 class="font-size-15 m-b-0 flex-grow-1 text-center" style="color: white;">Liên kết với tài khoản Google</h2>
    </div>
</button>
<br>
<br>
<button class="col-sm-7 col-md-7 col-lg- col-xl-7 p-2c5 btn border-radius button-link"
     style="background-color: #3AC3DC;"  (click)="authService.linkToFacebookAccount()">
    <div class="d-flex align-items-center justify-content-start">
        <img src="/assets/images/logo/facebook-logo.jpg" alt="Facebook" width="40px">
        <h2 class="font-size-15 m-b-0 flex-grow-1 text-center" style="color: white;">Liên kết với tài khoản Facebook</h2>
    </div>
</button>