<div class="inner-content">

    <div class="header-content d-flex flex-column">
        <div class="info-wrapper">
            <div class="header-info">
                <span class="font-weight-semibold font-size-16 text-teal-green">Tên</span>
                <!-- <span>{{ medicineInInventory.name }}</span> -->
            </div>
            <div class="header-info">
                <span class="font-weight-semibold font-size-16 text-teal-green">Mã số</span>
                <!-- <span>{{ medicineInInventory.quantity }} {{ medicineInInventory.medicineUnit.name }}</span> -->
            </div>
            <div class="header-info">
                <span class="font-weight-semibold font-size-16 text-teal-green">Phòng bang</span>
                <!-- <span>{{ medicineInInventory.medicineClassification.name }}</span> -->
            </div>
            <div class="header-info">
                <span class="font-weight-semibold font-size-16 text-teal-green">Dị ứng</span>
                <!-- <span>{{ medicineInInventory.medicineSubgroup.name }}</span> -->
            </div>
        </div>
        <nz-divider style="border: 1px solid #f0f0f0ba"></nz-divider>
    </div>
</div>