<div class="inner-content">
    <div class="profile" *ngIf="profile">
        <img
        width="200px"
        height="200px"
        [src]="url"
        alt=""
      />
        <div class="info">
            <nz-descriptions nzTitle="User Info" [nzSize]="'large'">
                <nz-descriptions-item nzTitle="Tên">{{profile.displayName}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Số điện thoại">{{profile.phoneNumber}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Email">{{profile.email}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Mô tả">{{profile.description}}</nz-descriptions-item>

            </nz-descriptions>


            <!--     <p class="title">Tên: </p>
            <p class="content">{{profile.displayName}}</p>
            <br>
            <br>
            <p class="title">Email: </p>
            <p class="content">{{profile.email}}</p>
            <br>
            <br>
            <p class="title">Số điện thoại:</p>
            <p class="content">{{profile.phoneNumber}}</p>
            <br>
            <br>
            <p class="title">Mô tả:</p>
            <p class="content">{{profile.description}}</p>-->

        </div>
        <div class="buttons">
            <a [routerLink]="'/account/edit-profile'"><button nz-button nzType="default">Sửa thông tin cá
                    nhân</button></a>
            <a [routerLink]="'/account/change-password'"> <button nz-button nzType="default">Đổi mật
                    khẩu</button></a>

            <!-- <button mat-raised-button color="primary">Change password</button> -->
        </div>
    </div>
</div>