.search-filter {
    ::placeholder {
        color: #8f9b99;
        font-weight: 500;
    }
    .input {
        background-color: #e6e6e63e;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .select-wrap {
        .select-w {
            // nz-select-top-control {
            //     border: solid 1px teal !important;
            // }
            width: 240px;
            margin-right: 10px;
            margin-bottom: 10px;
            padding-top: 1.5px;
            padding-bottom: 1.5px;
            padding-left: 1px;
            padding-right: 2px;
            border-radius: 2px;
        }
    }
}