.text-dark {
    color: #585858d2 !important;
}

.text-link {

    &:hover {
        text-decoration: underline !important;
        color: rgb(60, 60, 255) !important;
    }
}

.text-link-forget {
    &:hover {
     text-decoration: none !important;
     color: black !important;
 }
}

.login-form {
    max-width: auto;
}
//#3AC3DC#14b19c
.button-link {
    &:hover {
        background-color: #39d3ee !important;
    }
   
}

.border-radius {
    border-radius: 2px;
    
}

.p-2c5 {
    padding: 2.5px;
}
