<div class="container-fluid p-h-0 p-v-20 h-100 bg" style="background-image: url('assets/others/login-background.png');">
    <div class="d-flex flex-column justify-content-between h-100">
        <div class="d-none d-md-block"></div>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-10 col-md-9 col-lg-6 col-xl-5 m-h-auto">
                    <nz-card class="m-b-100 shadow-lg">
                        <div class="d-flex align-items-center justify-content-between m-b-40">
                            <img class="img-fuild" src="assets/images/logo/logo.png" alt="logo" width="250px">
                            <h2 class="font-size-24 m-b-0 p-l-15">Sign In</h2>
                        </div>
                        <form nz-form [formGroup]="loginForm" nzLayout="vertical" class="login-form"
                            (ngSubmit)="submitForm(loginForm.value)">
                            <nz-form-item class="m-b-20">
                                <nz-form-label nzRequired nzFor="userName" style="font-weight: 500;">Username
                                </nz-form-label>
                                <nz-form-control nzErrorTip="Please input your username!">
                                    <nz-input-group class="p-10 rounded" nzPrefixIcon="user">
                                        <input type="text" nz-input formControlName="userName" placeholder="Username" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item class="m-b-20 relative">
                                <nz-form-label nzRequired nzFor="password" style="font-weight: 500;">Password
                                </nz-form-label>
                                <a (click)="authService.test2()" class="text-link-forget font-size-14 text-muted"
                                    style="position: absolute; right: 0;">Forget password?</a>
                                <nz-form-control nzErrorTip="Please input your Password!">
                                    <nz-input-group class="p-10 rounded" nzPrefixIcon="lock">
                                        <input type="password" nz-input formControlName="password"
                                            placeholder="Password" />
                                    </nz-input-group>
                                </nz-form-control>
                            </nz-form-item>
                            <nz-form-item>
                                <nz-form-control>
                                    <div class="d-flex align-items-center justify-content-between">
                                        <button
                                            class="col-sm-7 col-md-7 col-lg- col-xl-7 p-2c5 btn border-radius button-link"
                                            (click)="authService.GoogleAuth()" style="background-color: #3AC3DC;">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <img src="/assets/others/google.svg" alt="Google" width="40px">
                                                <h2 class="font-size-15 m-b-0 flex-grow-1 text-center"
                                                    style="color: white;">Login email @fpt.edu.vn</h2>
                                            </div>
                                        </button>
                                        <button
                                            class="button-link btn border-radius font-size-15 p-v-10 col-sm-3 col-md-3 col-lg-3"
                                            style="background-color: #3AC3DC; color: white; font-weight: 500;"
                                            type="submit">
                                            Log in
                                        </button>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </form>
                    </nz-card>
                </div>
            </div>
        </div>
        <div class="d-none d-md-flex p-h-40 justify-content-between font-size-15 font-weight-semibold">
            <span class="text-dark">© 2019 Capstone Project</span>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Legal</a>
                </li>
                <li class="list-inline-item">
                    <a class="text-dark text-link" href="">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</div>