<form class="change-password-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">

    <!-- Old passord -->
    <p class="title">Mật khẩu cũ: </p>

    <mat-form-field class="password-field">
        <mat-label>Mật khẩu cũ</mat-label>
        <input type="password" matInput formControlName="oldPassword" [errorStateMatcher]="matcher"
            placeholder="Your current password">
        <mat-error *ngIf="f.oldPassword.hasError('required')">
            Mật khẩu không được để trống
        </mat-error>
        <mat-error *ngIf="f.oldPassword.hasError('minlength') || f.oldPassword.hasError('maxlength')">
           Mật khẩu phải từ 3 đến 50 kí tự
        </mat-error>
        <mat-error *ngIf="f.oldPassword.hasError('pattern')">
            Mật khẩu không được chứa kí tự đặc biệt
        </mat-error>
    </mat-form-field>
    <br>
    <!-- New passord -->
    <p class="title">Mật khẩu mới: </p>

    <mat-form-field class="password-field">

        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="newPassword" [errorStateMatcher]="matcher"
            placeholder="Password you want to change">
        <mat-error *ngIf="f.newPassword.hasError('required')">
            Mật khẩu không được để trống
        </mat-error>
        <mat-error *ngIf="f.newPassword.hasError('minlength') || f.newPassword.hasError('maxlength')">
            Mật khẩu phải từ 3 đến 50 kí tự
        </mat-error>
        <mat-error *ngIf="f.newPassword.hasError('pattern')">
            Mật khẩu không được chứa kí tự đặc biệt
        </mat-error>
    </mat-form-field>
    <br>
    <!-- Confirm password -->
    <p class="title">Nhập lại mật khẩu: </p>

    <mat-form-field class="password-field">

        <mat-label>Nhập lại mật khẩu</mat-label>
        <input type="password" matInput formControlName="confirmNewPassword" [errorStateMatcher]="matcher"
            placeholder="Re-enter your new password">
        <mat-error *ngIf="f.confirmNewPassword.hasError('required')">
            Mật khẩu không được để trống
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('minlength') || f.confirmNewPassword.hasError('maxlength')">
            Mật khẩu phải từ 3 đến 50 kí tự
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('pattern')">
            Mật khẩu không được chứa kí tự đặc biệt
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('MustMatch')">
            Mật khẩu phải trùng với mật khẩu mới
        </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Hoàn thành</button>

</form>