<form class="example-form" [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm.value)">

    <!-- Old passord -->
    <mat-form-field class="example-full-width">

        <mat-label>Old password</mat-label>
        <input type="password" matInput formControlName="oldPassword" [errorStateMatcher]="matcher"
            placeholder="Your current password">
        <mat-error *ngIf="f.oldPassword.hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="f.oldPassword.hasError('minlength') || f.oldPassword.hasError('maxlength')">
            Password must be between 8 and 30 characters
        </mat-error>
        <mat-error *ngIf="f.oldPassword.hasError('pattern')">
            Password should not contain any special character
        </mat-error>
    </mat-form-field>
    <br>
    <!-- New passord -->
    <mat-form-field class="example-full-width">

        <mat-label>New password</mat-label>
        <input type="password" matInput formControlName="newPassword" [errorStateMatcher]="matcher"
            placeholder="Password you want to change">
        <mat-error *ngIf="f.newPassword.hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="f.newPassword.hasError('minlength') || f.newPassword.hasError('maxlength')">
            Password must be between 8 and 30 characters
        </mat-error>
        <mat-error *ngIf="f.newPassword.hasError('pattern')">
            Password should not contain any special character
        </mat-error>
    </mat-form-field>
    <br>
    <!-- Confirm password -->
    <mat-form-field class="example-full-width">

        <mat-label>Confirm password</mat-label>
        <input type="password" matInput formControlName="confirmNewPassword" [errorStateMatcher]="matcher"
            placeholder="Re-enter your new password">
        <mat-error *ngIf="f.confirmNewPassword.hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('minlength') || f.confirmNewPassword.hasError('maxlength')">
            Password must be between 8 and 30 characters
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('pattern')">
            Password should not contain any special character
        </mat-error>
        <mat-error *ngIf="f.confirmNewPassword.hasError('MustMatch')">
            Confirm password must match new password
        </mat-error>
    </mat-form-field>
    <br>
    <button type="submit" mat-raised-button color="primary">Change password</button>

</form>