<form nzForm *ngIf="changePasswordForm" [formGroup]="changePasswordForm" nzLayout="horizontal"
    (ngSubmit)="changePassword(changePasswordForm.value)">

    <!-- Old passord -->

    <nz-form-item>
        <nz-form-label nzRequired nzFor="oldPassword" [nzSpan]="7">
            <span class="font-size-18">Mật khẩu cũ:</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="oldPasswordTpl">
            <input formControlName="oldPassword" type="text" nz-input #inputUnit [nzSize]="'large'" />
            <ng-template #oldPasswordTpl let-control>
                <ng-container *ngIf="f.oldPassword.hasError('required')">
                  {{ generalService.showRequiredError("Mật khẩu") }}
                </ng-container>
                <ng-container *ngIf="f.oldPassword.hasError('minlength') || f.oldPassword.hasError('maxlength')">
                    {{ generalService.showMinMaxLengthError("Mật khẩu", 4, 50) }}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <!-- New passord -->

    <nz-form-item>
        <nz-form-label nzRequired nzFor="newPassword" [nzSpan]="7">
            <span class="font-size-18">Mật khẩu mới:</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="newPasswordTpl">
            <input formControlName="newPassword" type="text" nz-input #inputUnit [nzSize]="'large'" />
            <ng-template #newPasswordTpl let-control>
                <ng-container *ngIf="f.oldPassword.hasError('required')">
                    {{ generalService.showRequiredError("Mật khẩu mới") }}
                </ng-container>
                <ng-container *ngIf="f.oldPassword.hasError('minlength') || f.oldPassword.hasError('maxlength')">
                    {{ generalService.showMinMaxLengthError("Mật khẩu", 4, 50) }}
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <!-- Confirm new passord -->

    <nz-form-item>
        <nz-form-label nzRequired nzFor="confirmNewPassword" [nzSpan]="7">
            <span class="font-size-18">Nhập lại mật khẩu mới:</span>
        </nz-form-label>
        <nz-form-control [nzErrorTip]="confirmNewPasswordTpl">
            <input formControlName="confirmNewPassword" type="text" nz-input #inputUnit [nzSize]="'large'" />
            <ng-template #confirmNewPasswordTpl let-control>
                <ng-container *ngIf="f.oldPassword.hasError('required')">
                    {{ generalService.showRequiredError("Mật khẩu") }}
                </ng-container>
                <ng-container *ngIf="f.oldPassword.hasError('minlength') || f.oldPassword.hasError('maxlength')">
                    {{ generalService.showMinMaxLengthError("Mật khẩu", 4, 50) }}
                </ng-container>
                <ng-container *ngIf="f.newPassword.hasError('pattern')">
                    Mật khẩu chỉ chứa chữ và số
                </ng-container>
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button class="font-size-18" type="submit" nz-button nzType="primary"
                style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
                Đổi mật khẩu
            </button>
            <button class="font-size-18" nz-button [routerLink]="'/account/profile'"
                style="padding: 20px; width: 150px; display: flex; align-items: center; justify-content: center;">
                Hủy
            </button>
        </nz-form-control>
    </nz-form-item>
</form>