.change-password-form{
    .title{
        font-size: 20px;
        font-weight: bold;
        margin-right: 5px;
    }
    .password-field{
        height: auto;
        width: 40%;
        margin-bottom: 5%;
    }

}