<div class="profile" *ngIf="profile">
    <div class="img-container">
        <img src="{{profile.photoUrl}}" class="avatar">
    </div>
    <div class="info">
        <p class="title">Tên: </p>
        <p class="content">{{profile.displayName}}</p>
        <br>
        <br>
        <p class="title">Email: </p>
        <p class="content">{{profile.email}}</p>
        <br>
        <br>
        <p class="title">Số điện thoại:</p>
        <p class="content">{{profile.phoneNumber}}</p>
        <br>
        <br>
        <p class="title">Mô tả:</p>
        <p class="content">{{profile.description}}</p>

    </div>
    <div class="buttons">
        <a [routerLink]="'/account/edit-profile'"><button mat-raised-button color="primary">Sửa thông tin cá nhân</button></a> 
        <a [routerLink]="'/account/change-password'"> <button mat-raised-button color="primary">Đổi mật khẩu</button></a>

        <!-- <button mat-raised-button color="primary">Change password</button> -->
    </div>
</div>