.example-container {
        position: relative;
        height: 100%;
        display: block;
        
  }
  .sidenav{
    display: flex;
    position: absolute;
    height: 100%;
    width: 20%;
}

.content{
  height: 100%;
  width: 100%;
  background-color: gray;
  white-space: nowrap;
z-index: 0;

}

.bread-scrumb{
  display: block;
  position: relative;
  background-color: white;
  height: 10%;
  width: 100%;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

@media only screen and (max-width: 415px) {
  a {
    display: block;
    color: red;
    padding: 20px;
    text-decoration: none;
  }

  .sidenav{
    display: flex;
    position: absolute;
    height: 100%;
    width: 35%;
}
}