<!-- <mat-drawer-container class="example-container" autosize  >
    <mat-drawer #drawer class="sidenav" mode="{{ToggleMode}}" opened>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quản lí Thuốc
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="#">Xem thuốc</a>
        <a href="#">Xem báo cáo thuốc</a>
        <a href="#">ABC DEF</a>
        <a href="#">AAA BBB</a>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            Quản lí vật tư
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a href="#">Vật tư functions</a>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>
            This is the expansion title
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>This is the primary content of the panel.</p>
      </mat-expansion-panel>
    </mat-drawer>
    <mat-drawer-content class="content">
      <h1>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<a>aaaaaaaaaaaaaaaaaaaaaaaaaaa</a>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h1> -->
<!-- <div style="position: relative; display: block; /width: 80%; height: 100%; background-color: red; text-align: center;">
      aaa</div> -->
<!-- </mat-drawer-content> 
  </mat-drawer-container> -->

<!-- <perfect-scrollbar class="side-nav">
  <ul class="ant-menu side-nav-menu ant-menu-inline">
    <li class="ant-menu-item" *ngFor="let item of menuItems">
      <a href="javascript:void(0);" *ngIf="item.submenu.length > 0" class="ant-menu-submenu-title">
        <i nz-icon *ngIf="item.iconType == 'nzIcon'" [nzType]="item.icon" [nzTheme]="item.iconTheme"></i>
        <span class="m-t-20">{{item.title}}</span>
        <i class="ant-menu-submenu-arrow"></i>
      </a>
      <a href="item.path" *ngIf="item.submenu.length === 0">
        <i nz-icon *ngIf="item.iconType == 'nzIcon'" [nzType]="item.icon" [nzTheme]="item.iconTheme"></i>
        <span class="m-t-20">{{item.title}}</span>
      </a>

    </li>
  </ul>
</perfect-scrollbar> -->

  <nz-sider class="slidebar" nzCollapsible [nzTrigger]="null">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file"></i>
        <span>File</span>
      </li>
    </ul>
  </nz-sider>