 <mat-drawer-container class="example-container">

    <mat-drawer #drawer class="sidenav" mode="{{ToggleMode}}" opened>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </mat-drawer>
    <!-- <div class="example-sidenav-content">
   b
    </div> -->
    <mat-drawer-content class="content">
      <button type="button" mat-button (click)="selectMode()">
        Toggle sidenav
      </button>
    </mat-drawer-content> 
  </mat-drawer-container>
