.example-container {
        position: relative;
        height: 90%;
        display: block;
        width: 100%;
  }
  .sidenav{
    position: absolute;
    height: 100%;
    width: 20%;
}

.content{
  height: 100%;
  width: 100%;
  background-color: gray;
  white-space: nowrap;
z-index: 0;

}

.bread-scrumb{
  display: block;
  position: relative;
  background-color: white;
  height: 10%;
  width: 100%;
}

