<div class="inner-content">
    <div class="search-filter">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="searchIconButton">
            <input class="input" placeholder="Nhập tên dược phẩm" nz-input [(ngModel)]="searchValue"
                (input)="inputChange(inputValue.value)" #inputValue />
        </nz-input-group>
        <ng-template #searchIconButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch class="iconButton" (click)="searchMedicine()">
                <i nz-icon nzType="search" nzTheme="outline"></i>
            </button>
        </ng-template>
        <br><br>
        <div class="d-flex flex-row flex-wrap align-items-center justify-content-between">
            <div class="select-wrap">
                <span style="font-weight: 500; margin-right: 10px;">Bộ lọc tím kiếm:</span>
                <nz-select class="select-w" nzPlaceHolder="Đơn vị" nzAllowClear [(ngModel)]="unitValue"
                    (ngModelChange)="onSearchUnit($event)" [ngClass]="{'ant-select-selection': unitSelected}">
                    <nz-option *ngFor="let option of filterUnit" [nzLabel]="option.name" [nzValue]="option.id">
                    </nz-option>
                </nz-select>
                <nz-select class="select-w" nzPlaceHolder="Loại" nzAllowClear [(ngModel)]="classValue"
                    (ngModelChange)="onSearchClass($event)" [ngClass]="{'ant-select-selection': classSelected}">
                    <nz-option *ngFor="let option of filterClass" [nzLabel]="option.name" [nzValue]="option.id">
                    </nz-option>
                </nz-select>
                <nz-select class="select-w" nzPlaceHolder="Nhóm" nzAllowClear [(ngModel)]="subgroupValue"
                    (ngModelChange)="onSearchSubgroup($event)" [ngClass]="{'ant-select-selection': subgroupSelected}">
                    <nz-option *ngFor="let option of filterSubgroup" [nzLabel]="option.name" [nzValue]="option.id">
                    </nz-option>
                </nz-select>
            </div>
            <ng-container *ngIf="generalService.isMedicalStaff()">
                <div style="width: 150px;">
                    <button nz-button nzType="primary" nzBlock nzSize="large"
                        [routerLink]="'/medicine-management/medicine-list/add-medicine'">
                        <span>Thêm thuốc</span>
                    </button>
                </div>
            </ng-container>

        </div>
    </div>

    <br>

    <nz-spin [nzSpinning]="tableLoading" nzTip="Đang xủ lý...">
        <nz-table #nzTable nzShowSizeChanger [nzPageSizeOptions]="[5, 10, 20, 30, 40]" [nzFrontPagination]="false"
            [nzData]="medicineList" [nzScroll]="{ x: '800px' }" [nzTotal]="totalRecord"
            [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th nzWidth="5%" nzAlign='left'>No.</th>
                    <th nzWidth="25%" nzAlign='center' nzColumnKey="Name" [nzSortFn]="true">Tên thuốc</th>
                    <th nzWidth="10%" nzAlign='center' nzColumnKey="MedicineUnit" [nzSortFn]="true">Đơn vị</th>
                    <th nzWidth="15%" nzAlign='center' nzColumnKey="MedicineClassification" [nzSortFn]="true">Loại thuốc
                    </th>
                    <th nzWidth="25%" nzAlign='center' nzColumnKey="MedicineSubgroup" [nzSortFn]="true">Nhóm</th>
                    <th nzWidth="15%" nzAlign='center' nzColumnKey="CreatedDate" [nzSortFn]="true">Ngày thêm</th>
                    <ng-container *ngIf="generalService.isMedicalStaff()">
                        <th nzWidth="5%" nzAlign='right'></th>
                    </ng-container>


                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of medicineList; index as i">
                    <td nzAlign='left'>{{ i+(page*pageLimit)-(pageLimit-1) }}</td>
                    <td nzAlign='center'>
                        <input type="hidden" nz-input [(ngModel)]="data.id" #medicineId>
                        <span *ngIf="!generalService.isMedicalStaff()" class="text-primary font-weight-semibold" >
                            {{ data.name }}
                        </span>
                        <ng-container *ngIf="generalService.isMedicalStaff()">
                            <span [routerLink]="['/medicine-management/medicine-list/details-medicine', data.id]"
                                class="text-link font-weight-semibold">
                                {{ data.name }}
                            </span>
                        </ng-container>

                    </td>
                    <td nzAlign='center'>{{ data.medicineUnit.name }}</td>
                    <td nzAlign='center'>{{ data.medicineClassification.name }}</td>
                    <td nzAlign='center'>{{ data.medicineSubgroup.name }}</td>
                    <td nzAlign='center'>{{ getCreateTime(data.createDate) }}</td>
                    <!-- <td>
                        <input type="hidden" nz-input [(ngModel)]="data.id" #medicineId>
                        <a style="color: #1890ff"
                            [routerLink]="['/medicine-management/medicine-list/details-medicine', data.id]">
                            Chi tiết
                        </a>
                    </td> -->
                    <ng-container *ngIf="generalService.isMedicalStaff()">
                        <td nzAlign='right'>
                            <a nz-popconfirm nzPopconfirmTitle="Chắc chắn xóa chứ?" style="color: #1890ff"
                                (nzOnConfirm)="deleteMedicine(data.id)">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </a>
                        </td>
                    </ng-container>

                </tr>
            </tbody>
        </nz-table>

    </nz-spin>
</div>