<div class="d-flex flex-row flex-wrap padding-content">
    <div class="col-sm-6 col-md-5 col-lg-5 col-xl-3 padding-left">
        <div class="d-flex flex-column content">
            <div class="d-flex flex-row justify-content-between">
                <span class="text-teal-green m-r-10 font-weight-semibold font-size-18">Bộ lọc tím kiếm</span>
                <button nz-button nzType="primary" (click)="setToDefaultFilter()">
                    <span>Mặc định</span>
                </button>
            </div>
            <dividing-line></dividing-line>
            <div class="filter">
                <span>Ngày nhập: </span>
                <nz-range-picker class="m-t-5" [ngClass]="{'border-selected': dateRangeSelected}" [nzRanges]="ranges"
                    [(ngModel)]="dateRange" (ngModelChange)="onDateRangeChange($event)" nzFormat="dd-MM-yyyy">
                </nz-range-picker>
            </div>
            <div class="filter">
                <span>Kỳ nhập: </span>
                <nz-date-picker class="m-t-5" [ngClass]="{'border-selected': dateSelected}" nzMode="month"
                    nzPlaceHolder="Tháng - Năm" nzFormat="MM-yyyy" [(ngModel)]="date"
                    (ngModelChange)="onDateChange($event)">
                </nz-date-picker>
            </div>
            <div class="filter">
                <!-- <form [formGroup]="priceForm"> -->
                <span>Tổng giá (₫): </span>
                <nz-input-group nzCompact class="m-t-5 d-flex flex-row flex-nowrap">
                    <!-- <nz-form-item class="m-b-0 w-100"> -->
                    <input type="text" nz-input placeholder="Tối thiểu" [ngClass]="{'border-selected': priceSelected}"
                        style="text-align: center; width: 45%;" [ngModel]="minPrice"
                        (ngModelChange)="minPriceChange($event)" />
                    <!-- </nz-form-item> -->
                    <input type="text" disabled nz-input placeholder="~" class="demo-input-split"
                        [ngClass]="{'border-selected': priceSelected}"
                        style="width: 15%; border-left: 0px; border-right: 0px; text-align: center; pointer-events: none; background-color: rgb(255, 255, 255);" />
                    <!-- <nz-form-item class="m-b-0 w-100"> -->
                    <input type="text" nz-input placeholder="Tối đa" class="demo-input-right" [ngModel]="maxPrice"
                        [ngClass]="{'border-selected': priceSelected}" (ngModelChange)="maxPriceChange($event)" />
                    <!-- </nz-form-item> -->
                </nz-input-group>
                <!-- </form> -->
            </div>
            <div class="filter">
                <span>Số lượng </span>
                <nz-input-number class="m-t-5 w-100" [ngClass]="{'border-selected': quantitySelected}" id="quantity"
                    [nzMin]="1" [nzStep]="1" nzPlaceHolder="Nhập số lượng" [ngModel]="quantity"
                    (ngModelChange)="quantityChange($event)">
                </nz-input-number>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-7 col-lg-7 col-xl-9 padding-right">
        <div class="d-flex flex-column justify-content-between content">
            <div class="d-inline-flex align-items-center m-b-10">
                <ng-container *ngIf="generalService.isMedicalStaff()">
                    <button nz-button nzType="primary" nzBlock nzSize="large" style="width: 140px;"
                        [routerLink]="'/batch-medicine-management/batch-medicine-list/add-batch'">
                        <span>Thêm lô</span>
                    </button>
                </ng-container>
            </div>
            <nz-spin [nzSpinning]="importBatchLoading" nzTip="Đang xử lý...">
                <nz-table #nzTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="importBatchList"
                    [nzScroll]="{ x: '750px' }" [nzTotal]="totalRecord" [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
                    <thead>
                        <tr>
                            <th nzAlign='left' nzWidth='10%'>No.</th>
                            <th nzAlign='center' nzWidth='25%' nzColumnKey="CreateDate" [nzSortFn]="true">
                                Lô nhập (ngày)
                            </th>
                            <th nzAlign='center' nzWidth='20%' nzColumnKey="NumberOfSpecificMedicine" [nzSortFn]="true">
                                Số dược phẩm
                            </th>
                            <th nzAlign='center' nzWidth='30%'>Kì nhập (tháng-năm)</th>
                            <th nzAlign='right' nzWidth='15%' nzColumnKey="TotalPrice" [nzSortFn]="true">Tổng giá</th>
                            <!-- <th nzWidth="70px"></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of importBatchList; index as i">
                            <td nzAlign='left'>{{ i+(page*pageLimit)-(pageLimit-1) }}</td>
                            <td nzAlign='center'>
                                <span class="text-link font-weight-semibold"
                                    [routerLink]="['/batch-medicine-management/batch-medicine-list/detail-batch', data.id]">{{
                                    getCreateTime(data.createDate) }}</span>
                            </td>
                            <td nzAlign='center'>{{ data.numberOfSpecificMedicine }}</td>
                            <td nzAlign='center'>{{ data.periodicInventory.month }} - {{ data.periodicInventory.year }}
                            </td>
                            <td nzAlign='right'>{{ data.totalPrice.toLocaleString('vi') }} ₫</td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-spin>
        </div>
    </div>
</div>