@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');
// @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "themes";

@import "~@nebular/theme/styles/globals";
@import "~bootstrap/scss/bootstrap.scss";
@import "./assets/scss/app.scss";

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */
$font-family-sans-serif:    'Poppins', -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:          $font-family-sans-serif !default;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-family-base;
}
// body {
//   margin: 0;
//   font-family: Roboto, "Helvetica Neue", sans-serif;
// }
